[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/EasyMotion"]
	path = vim/bundle/EasyMotion
	url = https://github.com/vim-scripts/EasyMotion.git
